
    @media (max-width: 600px){
       
        .sidenav {
            position: fixed;
            z-index: 1;
            top: 0;
            left: -250px;
            padding-top: 60px;
            transition: left 0.5s ease;
          }
          
          .sidenav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
          }
          
          /* Sidenav menu links */
          .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: black;
            display: block;
            transition: 0.3s;
          }
          
          .sidenav a:hover {
            color: #111;
          }
          
          /* Active class */
          .sidenav.active {
            left: 0;
          }
          
          /* Close btn */
          .sidenav .close {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
          }
          
          .burger-icon span {
            display: block;
            width: 35px;
            height: 5px;
            background-color:#CF3034;
            margin: 6px 0;
          }
        
        .image-accueil img{
            display: none;
        }
        .bouton{
            display: flex;
            flex-direction: column;
           
        }
        .bouton-1{
            margin: 0;
        }
        .impact{
           display: flex;
           flex-wrap: wrap;
        }
        .carrer{
           text-align: center;
            margin: 3px;
        }
        .carrousel-container{
            width: auto;
            height: auto;
        }
        .mySlides{
             width: 60vw;
        }
      .paragraphe{
        display: flex;
        flex-direction: column;
      }
       
        .mySlides img{
            display: none;
        }
        .apprenti{
            width: auto;
            display: flex;
            flex-direction: column;
            background-color:white;
        }
        @media (max-width: 600px) {
          html { font-size: 12px; }
          :root {
            --marquee-width: 100vw;
            --marquee-height: 16vh;
            --marquee-elements-displayed: 3;
          }
          .marquee:before, .marquee:after { width: 5rem; }
        }
    }